<div class="section">
	<h3><span class="muted">Nome do evento</span> / <span class="muted">Nome do prato</span> / Preparações</h3>
	<div class="section-tools pull-right">
	</div>
</div>
<div class="list-group">
	<a href="/#/event/1/dish/1/preps/1/edit" class="list-group-item">
		<span class="muted">00:33</span> nome da prepatação
	</a>
	<a href="/#/event/1/dish/1/preps/1/edit" class="list-group-item">
		<span class="muted">00:33</span> nome da prepatação
	</a>
	<a href="/#/event/1/dish/1/preps/1/edit" class="list-group-item">
		<span class="muted">00:33</span> nome da prepatação
	</a>
	<a href="/#/event/1/dish/1/preps/1/edit" class="list-group-item">
		<span class="muted">00:33</span> nome da prepatação
	</a>
	<a href="/#/event/1/dish/1/preps/1/edit" class="list-group-item">
		<span class="muted">00:33</span> nome da prepatação
	</a>
	<a href="/#/event/1/dish/1/preps/1/edit" class="list-group-item">
		<span class="muted">00:33</span> nome da prepatação
	</a>
</div>